
.main__header{
  background-color: var(--primary-color);
  height: calc(100vh - 5.65rem);
  width: 100vw;
  display: grid;
  /* place-items: center; */
}

.main__header__container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    z-index: 1;
}

.main__header__left {
    /* position: relative; */
}
.main__header__left h1{
    color: #FFF;
font-family: 'Rubik';
font-weight: 500;
line-height: 60px;
font-weight: 600;
}


.main__header__left h1 span{
    color: black;
    line-height: 60px;
}

.main__header__left h1{
    color: white;
}
.main__header__left h4{
    margin-top: 1.25rem;
    color: rgba(255, 255, 255, 0.97);
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.main__header__curve__container{
   position: absolute;
    width: 100%;
    height: 665px;
    flex-shrink: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: 0;
    overflow: hidden;
}


.main__header__image img{
    width: 30rem;
    height: 35rem;
    transform: rotate(3.367deg);
    flex-shrink: 0;
    border-radius: 50px;
}

.image__container {
    margin-top: 51px;
    display: flex;
    gap: 1.375rem;
    align-items: center;
    
}
.image__container a{
    width: 175px;
    height: 53px;
}

.main__header__right{
    display: grid;
    place-items: center ;
    /* position: relative; */
}


@media screen and (max-width : 1240px) {

    .main__header{
        background-color: var(--primary-color);
        width: 100vw;
        /* height: auto; */
        display: grid;
        place-items: center;
    }

    .main__header__image img{
        width: 16rem;
        height: 26rem;
        transform: rotate(3.367deg);
        flex-shrink: 0;
        border-radius: 50px;
    }
    .main__header__container{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        gap: 3rem
    }

    .image__container {
        margin-top: 1rem;
        display: flex;
        gap: 1.375rem;
        align-items: center;
        
    }
    .image__container a{
        width: 125px;
        height: 53px;
    }
    
}

@media screen and (max-width : 600px) {
    .main__header{
        background-color: var(--primary-color);
        /* width: 100%; */
        display: grid;
        height: fit-content;
        /* place-items: center; */
      }
    .main__header__container{
        /* width: 100vw; */
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr ;
        align-items: center;
    }

    .main__header__left {
        padding-top: 50px ;
        padding-right: 50px;
    }

    .image__container a{
        width: 137px;
        height: 42px;
    }

    .main__header__left h1{
        color: #FFF;
    font-family: 'Rubik';
    font-weight: 500;
    line-height: 45px;
    font-weight: 600;
    }

    .main__header__right {
        display: flex;
        justify-content: center;
    }

    .main__header__left h4{
        padding-top: 15px;
        color: rgba(255, 255, 255, 0.90);
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        line-height: 25.6px;
    }
}