* , *::before , *::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


:root{
    --primary-hue:270;
    --black-lightness:15%;
    --dark-brightness:44%;
    --light-lightness:94%;
    --white-lightness:100%;
    --primary-color : rgba(1, 178, 154, 1)


    --color-white:hsl(0,5%,var(--white-lightness));
    --color-light:hsl(var(--primary-hue), 5%,var(--light-lightness));
    --color-black:hsl(var(--primary-hue) , 5% , var(--black-brightness));

    --color-dark : hsl(var(--primary-hue), 5% , var(--dark-brightness))




    
    /* general container variables  */

    --container-width-Lg : 80%;
    --container-width-md : 90%;
    --container-width-large: 90%;

    /* border radius varibale 0000 */


    --border-radius-1 : 1.2rem;
    --border-radius-2 : 0.8rem;
    --border-radius-3 : 0.5rem;


    /* general transition varibales  */

    --transition : all 500ms ease;


}


a{
    color: var(--color-white);
    /* color:#728FCE; */
    transition: var(--transition);
}

body{
    /* font-family: 'Monsterrate' ,sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-size: 0.5rem;
    line-height: 1.6;
    overflow-x: hidden;
}



.container{
    width: var(--container-width-large);
    max-width: 1920px;
    margin-inline: auto ;
 
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}


h1,h2,h3,h4,h5,h6{
    line-height: 1.1;
    color: var(--color-black);
}


h1{
    font-size: 2.5rem;

}

h2{
    font-size: 2.1875rem;
}

h3{
    font-size: 1.56rem;

}
 h4{
 font-size: 1.25rem;   
}

h5{
    font-size: 1.125rem;
}


h6{
    font-size: 0.8rem;
}